body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #151b31;
  color: #95a0bd;
}

@media(min-width: 576px) {
  .container{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 720px;
  }
}

@media(min-width: 992px){
  .container{
    max-width: 960px;
  }
}

@media(min-width: 1200px){
  .container{
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: #2aa2ef;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #2aa2ef;
  text-decoration: underline;
}

#react-app:not(:empty) + .lds-circle {
  display: none;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
  width: 100px;
  height: 100px;
}

.lds-circle > div {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #fcf;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.center {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
