body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #151b31;
  color: #95a0bd;
}

@media(min-width: 576px) {
  .container{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 720px;
  }
}

@media(min-width: 992px){
  .container{
    max-width: 960px;
  }
}

@media(min-width: 1200px){
  .container{
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: #2aa2ef;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #2aa2ef;
  text-decoration: underline;
}
